@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-image: url(imgs/background.jpeg);
    
    padding: 64px;
    
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 512px;
    height: 196px;
    background-image: url("./imgs/westdevlogo.png");
    background-size: cover;
    border-radius: 64px;
    border-color: white;
    border-style: solid;
    margin: auto;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

header h1 {
    font-size: 96px;
    font-family: "Source Code Pro", sans-serif;
    color: white;
    text-align: center;
}