@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    padding: 64px;
    
    background: url("./imgs/background.jpeg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

#logo {
    width: 512px;
    height: 196px;
    background-image: url("./imgs/westdevlogo.png");
    background-size: cover;
    border-radius: 64px;
    border-color: white;
    border-style: solid;
    margin: auto;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom-style: solid;
    border-bottom-color: white;
}

header h1 {
    font-size: 96px;
    font-family: "Source Code Pro", sans-serif;
    color: white;
    text-align: center;
}

#welcome {
    font-size: 64px;
    font-family: "Source Code Pro", sans-serif;
    color: white;
    text-align: center;
    width: 45%;
    height: 300px;
    margin: auto;
}

#welcometext {
    float: left;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 32px;
    background-color: navy;
    border-radius: 16px;
    border-style: solid;
    border-color: darkblue;
    width: 100%;
    margin: auto;
    margin-top: 32px;
    height: 64px;
    align-content: center;
    justify-content: center;
}

.navlogo {
    width: 48px;
    height: 48px;
    margin: 8px;
    float: left;
}

.navtext {
    color: white;
    font-family: "Source Code Pro", sans-serif;
    font-size: 20px;
    float: left;
    margin-right: 6px;
}

.navdiv {
    background-color: navy;
    border-radius: 16px;
}

.navdiv:hover {
    background-color: rebeccapurple;
}

.gamecontent {
    width: 100%;
    height: 100%;
}

.published {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 64px;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 32px;
}

.pubitem {
    border-radius: 16px;
    border-style: solid;
    border-color: white;
    width: 512px;
    height: 512px;
    background-color: darkblue;
}

.pubitem h1 {
    color: white;
    font-family: "Source Code Pro", sans-serif;
    margin: 0px;
    margin-left: 8px;
}

.pubitem p {
    color: white;
    font-family: "Source Code Pro", sans-serif;
    margin: 8px;
}

#publink {
    font-size: 24px;
    margin-top: 16px;
}

.publinkdiv {
    background-color: yellow;
    border-color: yellow;
    border-style: solid;
}

.pubimage {
    width: inherit;
    height: 242px;
    border-radius: 16px;
    border-bottom-style: solid;
    border-color: white;
}

#picturediv {
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 64px;
    overflow: hidden;
    float: left;
    margin-top: 32px;
    margin-left: 32px;
}