table {
    margin: auto;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    background-color: black;
}

tr {
    padding: 10px;
    margin: 10px;
    background-color: #2704a7;
    color: white;
    font-size: 32px;
}

td {
    padding: 16px 20px;
}

#highlight {
    background-color: #1c0375;
}

#list {
    overflow-y: scroll;
    height: 550px;
}